.circle-button {
  width: 45px;
  height: 45px;
  background: var(--principal);
  color: var(--branco);
  font-size: 1.2rem;
  border: none;
  border-radius: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s opacity;
}

.circle-button:hover {
  opacity: 0.8;
}
